*{
    margin: 0px;
    padding: 0px;
  }
  
  body{
    font-family: "Verdana", Sans-serif;
    text-align:center;
    color:#002E5F;
    background-color:#E6F4F1;
  }
  
  header{
    font-family: "Copperplate",Fantasy;
    padding: 40px;
    font-size:30px;
    letter-spacing:2px;
    color:#E99B27;
    background-color: #002E5F;
  }
  
  main{
    margin-left: 5%;
    margin-right: 5%;
  }
  
  ul {
    list-style-type: none;
    overflow: hidden;
    padding: 6px;
    background-color:#9CADBC;
  }
  
  li{
    display: inline;
  }
  
  li a{
    text-decoration: none;
    font-size: 20px;
    padding: 6px 10px;
    color:#002E5F;
  }
  
  li a:hover{
    background-color: #6396BA;
  }
  
  h1{
    color: #E99B27;
  }
  
  p{
    font-size:20px;
    padding: 10px 0px 50px;
    color:#316860;
  }
  
  .portfolioImg{
    border-radius:5px;
    margin: 10px;
    border: 3px dotted #E99B27;
    max-width: 30%;
  }
  
  #homeImg {
    border-radius:5px;
    margin: 10px;
    border: 3px dotted #40C08C;
  }
  
  #homeIntro{
    font-family: "Helvetica", Sans-serif;
    font-size:25px;
  }